---
layout: default
hero-banner: 
  image: 
    image_path: /images/coach-andy-allen-7.png
    image_focus: 
      mobile: center
      deasktop: left
testimonials:
  - testimonial_item: |
      <p>“If you want to bring out the best version of yourself and improve your mental and physical performance, Andy is your guy. If you’re feeling anxious, overwhelmed, or simply not performing at your best, I highly recommend Andy. He has the skills, patience, and tools to help you realize your full potential and become calmer, more relaxed, and more confident.”</p>
    author: "Don Macpherson, Mind Coach<br>Renowned expert with over 30 years of experience helping elite athletes and high achievers optimize their mental performance"
  - testimonial_item: |
      <p>“I’ve known Andy Betancourt for over 20 years. I’ve seen him study, commit, and live the lifestyle he now shares. I don’t know anyone with as much knowledge, or who is as genuinely passionate about people’s development. Andy will bring out the best in you and help you reach the next level. Of that, I have no doubt.”</p>
    author: "Raúl Munguia, Commercial Development Manager"
  - testimonial_item: |
      <p>“I have known Andy for almost 20 years, and his genuine, heartfelt approach as a life coach continues to inspire me deeply. He brings an extraordinary level of clarity, sincerity & care to his work. His dedication to uplift others is truly inspiring. Andy embodies authenticity & integrity, creating a space that is not only empowering but also heart-opening. His guidance fosters holistic development on all levels.</p>
      <p>I cannot recommend his coaching services enough for anyone seeking profound personal growth & genuine transformation.”</p>
    author: "Burkhard Langemann - Phycologist, Founder of the Akasha Yoga Academy"
  - testimonial_item: |
      <p>“Over the days I spent with Andy, he helped me tackle some deep rooted habits and issues, including a serious case of insomnia that has been bothering me for years. Through a variety of different methods, I am now sleeping - for the first time in years - without sleeping tablets and with significantly less anxiety and worry generally”</p>
    author: "Katherine Walsh, Communications & Marketing Director"
  - testimonial_item: |
      <p>“After only 5 days with him my life changed for the better. Every day me and Andy spend a few hours just talking about me and my issues, he had the patience to listen and he has been the only person so far to understand me and help me fix myself, I never found a guy so nice, gentle and open.”</p>
    author: "Donald Anderson, Business Entrepreneur"
  - testimonial_item: |
      <p>"Andy is a very positive and confident person, always striving to find solutions to problems. I’ve witnessed firsthand his commitment, dedication, and tireless pursuit of goals—he leaves no stone unturned. If you’re seeking a mind coach who can make a significant impact, I wholeheartedly recommend Andy."</p>
    author: "João Brito, Tennis Coach"
seo:
  title: Coach Andy Allen
  description: Renowned as a coach’s coach and a teacher’s teacher, Coach Andy Allen brings over two decades of experience in behavior, neuroscience, and performance coaching. As a skilled behaviorist and mind coach, he has dedicated his career to working with high-achieving individuals. He specializes in helping his clients enhance mental clarity, sharpen focus, and build resilience, using a unique blend of eastern techniques and modern neuroscience.
  keywords:
  social_image: /images/logos/coach-andy-allen-logo-5.jpg
  hide-from-google: false
---

<!-- Hero Banner Mobile -->
<section class="md:hidden">

  <!-- Text -->
  <div class="pt-[20%] px-10p">
    <h1 class="heading-lg mb-4">What sets the <span class="font-light">greatest</span> apart?</h1>
    <div>
      <p>"Mental fortitude is what sets apart the good from the greatest, It's not just about physical prowess; it's about mastering your mind and emotions and this is a learned skill, developed through dedicated training"</p>
      <p>— Andy Allen</p>
    </div>
</div>

  <!-- Image -->
  <div class="bg-cover bg-no-repeat h-[50vh]"
      style="background-image: url('{{page.hero-banner.image.image_path}}'); background-position: {{page.hero-banner.image.image_focus.mobile}};">
  </div>

</section>

<!-- Hero Banner -->
<section class="hidden md:block min-h-[100vh]">

  <!-- Navigation Menu -->
  <nav class="hidden lg:flex gap-8 justify-between lg:w-[70%] ml-auto border-b border-dark pt-8 pb-4">
      <a href="#about">About</a>
      <a href="/work-with-andy.html">Work with Andy</a>
      <a href="#testimonials">Testimonials</a>
      <a href="#podcast">Podcast</a>
      <a href="#press" class="pr-5p">Press</a>
  </nav>

  <div class="absolute bottom-0 md:-left-10p lg:left-0 bg-contain bg-no-repeat h-[60vh] lg:h-[80vh] w-full"
      style="background-image: url('{{page.hero-banner.image.image_path}}'); background-position: {{page.hero-banner.image.desktop.image_focus}};">
  </div>

  <div class="grid md:grid-cols-3 gap-10p">
      <div></div>

      <div class="col-span-2 p-10p flex justify-center items-center mt-[15%]">
          <div>
              <h1 class="heading-lg mb-4">What sets the <span class="font-light">greatest</span> apart?</h1>
              <div class="w-[80%]">
                <p>"Mental fortitude is what sets apart the good from the greatest, It's not just about physical prowess; it's about mastering your mind and emotions and this is a learned skill, developed through dedicated training"</p>
                <p>— Andy Allen</p>
              </div>
          </div>
      </div>
  </div>

</section>


<!-- Banner -->
<section class="bg-main p-5p flex items-center justify-center">
  <img src="/images/logos/coach-andy-allen-logo-1.jpg" class="h-[6rem]">
</section>


<!-- About -->
<section id="about" class="lg:grid lg:grid-cols-3">

  <!-- Text -->
  <div class="col-span-2 p-10p">
    <h2 class="heading-md"><span class="font-light">Coach</span> Andy Allen</h2>

    <div>
      <p>Coach Andy Allen is a skilled behaviorist and mind coach with over two decades of experience in behavior and performance coaching. Blending meditation, Eastern techniques, and neuroscience, he enhances mental clarity, sharpens focus, and builds resilience, helping high achievers unlock their potential and excel in life.</p>
      <p>Andy founded the USA's largest Mind Body Medicine school, <a href="https://www.yogavedainstitute.com/" target="_blank" class="link">Yoga Veda Institute</a>, empowering high performers through comprehensive mind-body education. His coaching addresses deeper psychological barriers to peak performance and personal fulfillment.</p>
      <p>His mission is to help elite individuals become better athletes and humans by mastering their minds, overcoming challenges, and unlocking their full potential. On the field or in the boardroom, Andy's clients achieve lasting success, guided by his expertise in merging ancient wisdom with modern neuroscience."</p>
    </div>
  </div>

  <!-- Image -->
  <div class="bg-cover bg-no-repeat min-h-[60vh] md:min-h-[80vh] lg:min-h-[60vh]" style="background-image: url('/images/coach-andy-allen-9.jpg');background-position: 50% 70%;"></div>

</section>


<!-- Testimonials -->
<section id="testimonials" class="p-10p">

  <!-- Heading -->
  <h2 class="heading-md text-center mb-0">Client <span class="font-light">Testimonials</span></h2>

  <!-- Line -->
  <div class="grid grid-cols-2 h-[5rem] mt-8 mb-8">
      <div class="border-r border-dark"></div>
      <div></div>
  </div>

  <!-- Testimonials -->
  <div class="testimonial-container">
      {% for item in page.testimonials %}
      <div class="testimonial-slide text-center">
          <!-- Testimonial Item -->
          <div class="testimonial_item italic">
              {{ item.testimonial_item | markdownify }}
          </div>
          <!-- Author -->
          <p class="testimonial-author text-right font-bold mt-4">
              — {{ item.author }}
          </p>
      </div>
      {% endfor %}
  </div>

</section>

<!-- Waitlist -->
<section id="podcast" class="p-10p bg-main text-light">
  <h2 class="heading-md">Join the <span class="font-light">Waitlist</span></h2>
  <div class="md:w-[60%]">
    <p>Sign up now to be notified the moment the podcast goes live. Don't miss your chance to be among the first to listen and elevate your journey with Andy's cutting-edge techniques and strategies.</p>
  </div>
  <a data-formkit-toggle="6dd59d5430" href="https://coach-andy-allen.ck.page/6dd59d5430" class="button mt-4">Join the Waitlist</a>

</section>


<!-- Media -->
<section id="press"
    class="grid md:grid-cols-2 lg:mr-10p bg-contain bg-left-bottom bg-no-repeat md:mt-16 border-b border-main mr-10p bg-none md:bg-[url('/images/coach-andy-allen-6.png')]">

    <!-- Left Column -->
    <div></div>

    <!-- Right Column -->
    <div>
        <div class="bg-main p-10p my-10p ml-10p">
            <h2 class="heading-md text-light">Press & Media Inquiries</h2>
            <div class="text-light">
                <p>Understanding each person’s individual needs is key to helping them discover and unlock their full potential. Only then is peak performance possible!</p>
                <p class="mb-2">Andy is available for:</p>
                <ul>
                    <li>Media Interviews and Features</li>
                    <li>Keynote Speaking and Panels</li>
                    <li>Expert Commentary</li>
                </ul>
                <a href="mailto:coachandyallen@gmail.com?subject=Media%20Inquiry" class="button mt-8">Contact for Media & Speaking</a>
            </div>
        </div>
    </div>
</section>


<!-- Request a Consultation -->
 {% include form-consultation.html %}
