<div style="opacity: 0.2;" class="formkit-background"></div>

<div data-style="minimal">

    <div class="formkit-header" data-element="header">
        <h2 class="heading-md">You're One Step Away from <span class="font-light"></span>Transformation</span></h2>
    </div>
    <div class="formkit-subheader" data-element="subheader">
        <p>Join our exclusive list to be the first to access Andy's groundbreaking podcast. Discover innovative
            techniques and strategies that will elevate your journey to the next level.</p>
        <p><em>Enter your email below to get notified as soon as we go live!</em></p>
    </div>

    <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>

    <!-- Form Fields -->
    <div data-element="fields" data-stacked="true" class="seva-fields formkit-fields">

        <!-- First Name -->
        <div class="formkit-field">
            <input style="width: 100%;
                border-bottom: 1px solid #010101;
                margin-bottom: 0.25rem;" class="formkit-input input-field" aria-label="First Name" name="fields[first_name]"
                required="" type="text">
            <label for="email" style="color: #718096; font-size: 0.875rem;">First Name</label>
        </div>

        <!-- Last Name -->
        <div class="formkit-field">
            <input style="width: 100%;
                border-bottom: 1px solid #010101;
                margin-bottom: 0.25rem;" class="formkit-input input-field" aria-label="Last Name" name="fields[last_name]"
                required="" type="text">
            <label for="email" style="color: #718096; font-size: 0.875rem;">Last Name</label>
        </div>

        <!-- Email -->
        <div class="formkit-field">
            <input style="width: 100%;
                border-bottom: 1px solid #010101;
                margin-bottom: 0.25rem;" class="formkit-input input-field" name="email_address" aria-label="Email Address"
                required="" type="email">
            <label for="email" style="color: #718096; font-size: 0.875rem;">Email</label>
        </div>

        <!-- Button -->
        <button data-element="submit" style="margin-top: 1rem; border-radius: 0px;" class="formkit-submit formkit-submit button rounded-none">
            <div class="formkit-spinner">
            </div><span class="uppercase">Join the Waitlist</span>
        </button>
    </div>
</div>