<div style="opacity: 0.2;" class="formkit-background"></div>

<div data-style="minimal">

    <div class="formkit-header" data-element="header">
        <h2 class="heading-md">You're One Step Away <span class="font-light">from Transformation</span></h2>
    </div>
    <div class="formkit-subheader" data-element="subheader">
        <p>Join our exclusive list to be the first to access Andy's groundbreaking podcast. Discover innovative
            techniques and strategies that will elevate your journey to the next level.</p>
        <p><em>Enter your email below to get notified as soon as we go live!</em></p>
    </div>

    <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>

    <!-- Form Fields -->
    <div data-element="fields" data-stacked="true" class="seva-fields formkit-fields">

        <!-- First Name -->
        <div class="formkit-field">
            <input
                class="formkit-input w-full border-b border-dark focus:outline-none focus:border-feature bg-transparent mb-2 rounded-none"
                aria-label="First Name" name="fields[first_name]" required="" placeholder="First Name" type="text">
        </div>

        <!-- Last Name -->
        <div class="formkit-field">
            <input
                class="formkit-input w-full border-b border-dark focus:outline-none focus:border-feature bg-transparent mb-2 rounded-none"
                aria-label="Last Name" name="fields[last_name]" required="" placeholder="Last Name" type="text">
        </div>

        <!-- Email -->
        <div class="formkit-field">
            <input
                class="formkit-input w-full border-b border-dark focus:outline-none focus:border-feature bg-transparent mb-2 rounded-none"
                name="email_address" aria-label="Email Address" placeholder="Email Address" required="" type="email">
        </div>

        <!-- Button -->
        <button data-element="submit" class="formkit-submit formkit-submit button rounded-none">
            <div class="formkit-spinner">
                <div></div>
                <div></div>
                <div></div>
            </div><span class="uppercase">Join the Waitlist</span>
        </button>
    </div>
</div>