<section>
    <div id="contact" class="p-10p">

        <div class="grid md:grid-cols-3 gap-16">

            <!-- Left Column -->
            <div class="col-span-2">
                <h2 class="heading-md mb-6">Unlock Elite Coaching with <span class="font-light">Coach Andy Allen</span>
                </h2>
                <p>Are you a high achiever ready to invest in your success? Coach Andy Allen works exclusively with top
                    performers, executives, and athletes who are serious about elevating their game. This is a
                    premium, personalized coaching experience designed for those who are committed to reaching their
                    highest potential and willing to invest the time, effort, and resources to get there.</p>
                <p>Request Your Consultation today to explore if you’re a fit for this exclusive opportunity and take
                    the first step toward unparalleled success.</p>

                <!-- Form -->
                <form class="rounded-none w-full" name="consultation-request" method="post" data-netlify="true"
                    action="https://calendly.com/coachandyallen" onSubmit="submit" data-netlify-honeypot="bot-field">

                    <input type="hidden" name="form-name" value="consultation-request">
                    <p class="hidden">
                        <label>Don’t fill this out if you're human: <input name="bot-field"></label>
                    </p>

                    <!-- Name -->
                    <div class="relative mb-6">
                        <input type="text" name="name" id="name" required
                            class="w-full border-b border-dark focus:outline-none focus:border-feature bg-transparent mb-2 rounded-none">
                        <label for="name" class="absolute left-0 -bottom-5 text-gray-600 text-sm">Name</label>
                    </div>

                    <!-- Email -->
                    <div class="relative mb-10">
                        <input type="email" name="email" id="email" required
                            class="w-full border-b border-dark focus:outline-none focus:border-feature bg-transparent mb-2 rounded-none">
                        <label for="email" class="absolute left-0 -bottom-5 text-gray-600 text-sm">Email</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="button mt-4">
                        Submit
                    </button>
                </form>

            </div>

            <!-- Right Column -->
            <div class="hidden md:flex justify-center items-center">
                <img src="/images/logos/coach-andy-allen-logo-4.png" class="h-32">
            </div>
        </div>
</section>