<section class="lg:hidden">
    <div class="mobile-button">
        <span class="mobile-top"></span>
        <span class="mobile-middle"></span>
        <span class="mobile-bottom"></span>
    </div>

    <nav class="mobile-menu">
        <a href="/index.html" class="px-2 mx-2 {% if forloop.last %}text-feature{% endif %}">Home</a>
        <a href="/work-with-andy.html" class="px-2 mx-2 {% if forloop.last %}text-feature{% endif %}">Work with Andy</a>
        <a href="https://calendly.com/contact-coachandyallen/30min" target="_blank" class="px-2 mx-2 {% if forloop.last %}text-feature{% endif %}">Get more info.</a>
    </nav>
</section>