  <!-- Footer -->
  <footer class="flex justify-center mt-8 md:mt-0 py-4 border-t border-main">

    <!-- Instagram -->
    <a href="https://www.instagram.com/{{site.data.site-settings.social.instagram_username}}" target="_blank">
        <i class="social-icon fa-brands fa-instagram"></i>
    </a>

    <!-- Facebook -->
    <a href="https://www.facebook.com/{{site.data.site-settings.social.facebook_username}}" target="_blank">
        <i class="social-icon fa-brands fa-facebook-f"></i>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/{{site.data.site-settings.social.linkedin_username}}" target="_blank">
        <i class="social-icon fa-brands fa-linkedin-in"></i>
    </a>

    <!-- Email -->
    <a href="mailto:{{site.data.site-settings.general.email}}" target="_blank">
      <i class="social-icon fa-regular fa-envelope"></i>
  </a>

</footer>